<header class="header">
  <div class="container">
    <div class="header__content flex">
      <div class="header__part">
        <a href="/" class="custom-logo-link">
          <img src="assets/img/icons/logo.svg"  alt="">
        </a>
      </div>
      <div class="header__part">
        <ul class="header__nav flex">
          <li>
            <a href="products.html">Product</a>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="developers.html">Developers </a>
          </li>
          <li class="ankor">
            <a href="#contact">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="header__part">
        <ul class="lang__nav">
          <li class="menu-item menu-item-has-children">
            <a href="#">Eng</a>
            <ul class="sub-menu">
              <li class="lang-item current-lang">
                <a href="#" hreflang="uk" lang="uk">Укр</a>
              </li>
              <li class="lang-item">
                <a href="#" hreflang="en-GB" lang="en-GB">Eng</a>
              </li>
            </ul>
          </li>
        </ul>
        <div onclick="openNav()" class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="mobile__navcont">
  <ul class="header__nav flex">
    <li>
      <a href="products.html">Product</a>
    </li>
    <li>
      <a href="about.html">About</a>
    </li>
    <li>
      <a href="developers.html">Developers </a>
    </li>
    <li class="ankor">
      <a href="#contact">Contacts</a>
    </li>
  </ul>
  <ul class="langmob__nav">
    <li class="lang-item current-lang">
      <a href="#" hreflang="uk" lang="uk">Eng</a>
    </li>
    <li class="lang-item">
      <a href="#" hreflang="en-GB" lang="en-GB">Укр</a>
    </li>
  </ul>
</div>
