{% set title = "Form Page" %} {% set bodyClass = "form-page" %} {% set
hideHeader = true %} {% set hideFooter = true %} {% extends
"_html/_base/_layouts/_default.html" %} {% block content %}

<div class="wrapper">
  <section class="form-sec">
    <div class="container">
      <div class="progress-bar">
        <ul class="progress-name">
          <li class="progress-name__item">Company Information</li>
          <li class="progress-name__item">Beneficial Owners</li>
          <li class="progress-name__item">Documents Required</li>
          <li class="progress-name__item">Declaration</li>
        </ul>
        <div class="progress-step">
          <div class="progress-step__item"></div>
          <span class="progress-step__line"></span>
          <div class="progress-step__item"></div>
          <span class="progress-step__line"></span>
          <div class="progress-step__item"></div>
          <span class="progress-step__line"></span>
          <div class="progress-step__item"></div>
        </div>
      </div>

      <h2 class="form-title">Customer <span>Onboarding</span></h2>
      <p class="form-desc">(Entity)</p>
      <h3 class="form-subtitle">
        <span>2.</span> BENEFICIAL OWNERS of the Company
      </h3>
      <div class="form-container">
        <form class="form-column">
          <label class="label-def">
            <p class="label-def__name">
              Principal address of business
              <span>(if different from registered office address)</span>
            </p>
            <input
              type="text"
              name=""
              id=""
              class="input-def"
              placeholder="Type here"
            />
          </label>

          <div class="block-grid3">
            <label class="label-def">
              <p class="label-def__name">
                Principal address of business
                <span>(if different from registered office address)</span>
              </p>
              <input
                type="text"
                name=""
                id=""
                class="input-def"
                placeholder="Type here"
              />
            </label>
            <label class="label-def">
              <p class="label-def__name">
                Principal address of business
                <span>(if different from registered office address)</span>
              </p>
              <input
                type="text"
                name=""
                id=""
                class="input-def"
                placeholder="Type here"
              />
            </label>
            <label class="label-def">
              <p class="label-def__name">
                Principal address of business
                <span>(if different from registered office address)</span>
              </p>
              <input
                type="text"
                name=""
                id=""
                class="input-def"
                placeholder="Type here"
              />
            </label>
          </div>

          <div class="block-grid2">
            <label class="label-def">
              <p class="label-def__name">
                Principal address of business
                <span>(if different from registered office address)</span>
              </p>
              <input
                type="text"
                name=""
                id=""
                class="input-def"
                placeholder="Type here"
              />
            </label>
            <label class="label-def">
              <p class="label-def__name">
                Principal address of business
                <span>(if different from registered office address)</span>
              </p>
              <input
                type="text"
                name=""
                id=""
                class="input-def"
                placeholder="Type here"
              />
            </label>
          </div>

          <div class="block-grid2">
            <label class="label-def">
              <p class="label-def__name">
                Principal address of business
                <span>(if different from registered office address)</span>
              </p>
              <input
                type="text"
                name=""
                id=""
                class="input-def"
                placeholder="Type here"
              />
            </label>
            <div class="block-number">
              <label class="label-def">
                <p class="label-def__name">Contact Number</p>
                <input
                  type="text"
                  name=""
                  id=""
                  class="input-def"
                  placeholder="Country Code"
                />
              </label>
              <label class="label-def">
                <input
                  type="text"
                  name=""
                  id=""
                  class="input-def"
                  placeholder="Phone Number"
                />
              </label>
            </div>
          </div>

          <div class="block-grid2">
            <label class="label-def">
              <p class="label-def__name">
                Principal address of business
                <span>(if different from registered office address)</span>
              </p>
              <input
                type="text"
                name=""
                id=""
                class="input-def"
                placeholder="Type here"
              />
            </label>

            <div class="label-def">
              <p class="label-def__name">
                Principal address of business
                <span>(if different from registered office address)</span>
              </p>
              <div class="block-choose">
                <label class="block-choose__label">
                  <input
                    type="radio"
                    name="radio-choose"
                    placeholder="Identity card"
                    checked
                  />
                  <div class="block-choose__box">Identity card</div>
                </label>

                <label class="block-choose__label">
                  <input
                    type="radio"
                    name="radio-choose"
                    placeholder="Passport"
                  />
                  <div class="block-choose__box">Passport</div>
                </label>
              </div>
            </div>
          </div>
        </form>

        <div class="btn-wrapp">
          <a href="#" class="btn-wrapp__back">Back</a>
          <a href="#" class="btn-wrapp__next">Next</a>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
