{% set title = "Form Page" %} {% set bodyClass = "form-page" %} {% set
hideHeader = true %} {% set hideFooter = true %} {% extends
"_html/_base/_layouts/_default.html" %} {% block content %}

<div class="wrapper">
  <section class="form-sec">
    <div class="container">
      <div class="progress-bar">
        <ul class="progress-step">
          <li class="progress-step__item item-part" data-step="information">
            <p>Company Information</p>
            <span></span>
          </li>
          <li class="progress-step__line line-part"></li>

          <li class="progress-step__item" data-step="beneficial-entity">
            <p>Beneficial Owners</p>
            <span></span>
          </li>
          <li class="progress-step__line"></li>

          <li class="progress-step__item" data-step="documents-entity">
            <p>Documents Required</p>
            <span></span>
          </li>
          <li class="progress-step__line"></li>

          <li class="progress-step__item" data-step="declaration-entity">
            <p>Declaration</p>
            <span></span>
          </li>
        </ul>
      </div>

      <h2 class="form-title">Customer <span>Onboarding</span></h2>
      <p class="form-desc">(Entity)</p>

      <form id="formEntity">
        <div id="information" class="form-part-hidden form-part-visible">
          <fieldset>
            <legend class="form-subtitle">
              <span>1.</span> Company Information
            </legend>
            <div class="form-container">
              <div class="block-grid2">
                <label class="label-def">
                  <p class="label-def__name">Company Name:</p>
                  <input
                    type="text"
                    name="information-companyName"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>

                <label class="label-def">
                  <p class="label-def__name">Company Registration No.:</p>
                  <input
                    type="text"
                    name="information-registration"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>
              </div>

              <div class="block-grid2">
                <label class="label-def">
                  <p class="label-def__name">Date of Incorporation</p>
                  <input
                    type="text"
                    name="information-incorporation"
                    class="input-def"
                    placeholder="DD/MM/YYYY"
                  />
                </label>

                <label class="label-def">
                  <p class="label-def__name">
                    Date of expiry <span>(if applicable)</span>
                  </p>
                  <input
                    type="text"
                    name="information-dateExpiry"
                    class="input-def"
                    placeholder="DD/MM/YYYY"
                  />
                </label>
              </div>

              <label class="label-def">
                <p class="label-def__name">
                  Country of Incorporation / Registration:
                </p>
                <input
                  type="text"
                  name="information-incorpRegist"
                  class="input-def"
                  placeholder="Type here"
                />
              </label>

              <div class="block-grid2">
                <label class="label-def">
                  <p class="label-def__name">Email address</p>
                  <input
                    type="email"
                    name="information-email"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>

                <div class="block-code">
                  <label class="label-def">
                    <p class="label-def__name">Contact Number</p>
                    <input
                      type="text"
                      name="information-countryCode"
                      class="input-def"
                      placeholder="Country Code"
                    />
                  </label>
                  <label class="label-def">
                    <input
                      type="text"
                      name="information-phoneNumber"
                      class="input-def"
                      placeholder="Phone Number"
                    />
                  </label>
                </div>
              </div>

              <label class="label-def">
                <p class="label-def__name">
                  Entity Type <span>(optional)</span>
                </p>
                <input
                  type="text"
                  name="information-entityType"
                  class="input-def"
                  placeholder="Please select"
                />
              </label>

              <label class="label-def">
                <p class="label-def__name">Registered Office Address</p>
                <input
                  type="text"
                  name="information-officeAddress"
                  class="input-def"
                  placeholder="Unit, Floor, Building, Street"
                />
              </label>

              <label class="label-def">
                <p class="label-def__name">Postal Code, Country</p>
                <input
                  type="text"
                  name="information-postalCode"
                  class="input-def"
                  placeholder="Type here"
                />
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Principal business activity <span>(optional)</span>
                </p>
                <textarea
                  name="information-businessActivity"
                  class="input-textarea"
                  placeholder="Type here"
                ></textarea>
              </label>

              <label class="label-def">
                <p class="label-def__name">Website <span>(optional)</span></p>
                <input
                  type="text"
                  name="information-website"
                  class="input-def"
                  placeholder="Type here"
                />
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please list the main (top 5) jurisdictions of your customers,
                  i.e that your customers are located in <span>(optional)</span>
                </p>
                <textarea
                  name="information-jurisdictionsCustomers"
                  class="input-textarea"
                  placeholder="Type here"
                ></textarea>
              </label>
            </div>
          </fieldset>

          <div class="btn-wrapp">
            <button
              type="button"
              data-id="beneficial-entity"
              class="btn-wrapp__next"
            >
              Next
            </button>
          </div>
        </div>

        <div id="beneficial-entity" class="form-part-hidden">
          <fieldset>
            <legend class="form-subtitle">
              <span>2.</span> Beneficial owners of the Company
            </legend>
            <div class="form-container">
              <p class="text-def">
                The purpose of obtaining beneficial owner's information is to:
              </p>
              <ul class="list-def">
                <li class="list-def__item">
                  Identify the natural persons (whether acting alone or
                  together) who ultimately own all the assets or undertakings of
                  the client;
                </li>
                <li class="list-def__item">
                  If there is doubt as to whether the natural persons who
                  ultimately own all the assets or undertakings of the client
                  are the beneficial owners or where no natural persons
                  ultimately own all the assets or undertakings of the client,
                  to then identify the natural persons (if any) who ultimately
                  control the business entity or have ultimate effective control
                  over the client;
                </li>
                <li class="list-def__item">
                  Where no natural persons are identified above, to identify the
                  natural persons having executive authority in the client, or
                  in equivalent or similar positions.
                </li>
              </ul>

              <div class="block-add" id="blockAdd-beneficial">
                <ul class="block-add__list" id="beneficialList">
                  <li class="block-add__item" data-index="1">
                    <div class="block-add__box">
                      <div class="block-add__top">
                        <h3 class="block-add__title">
                          #01 Beneficial owners of the company
                        </h3>
                        <button
                          type="button"
                          class="block-add__delete disabled"
                          disabled
                        >
                          <svg width="24" height="24">
                            <use
                              href="assets/img/icons/icons.svg#icon-trash"
                            ></use>
                          </svg>
                        </button>
                      </div>
                      <label class="label-def">
                        <p class="label-def__name">
                          Identification Number (Identity Card, Passport No.)
                        </p>
                        <input
                          type="text"
                          name="beneficialEntity[0][benefIdentification]"
                          class="input-def"
                          placeholder="Type here"
                        />
                      </label>
                      <label class="label-def">
                        <p class="label-def__name">
                          Full Name of Beneficial Owner
                        </p>
                        <input
                          type="text"
                          name="beneficialEntity[0][benefFullName]"
                          class="input-def"
                          placeholder="Type here"
                        />
                      </label>
                      <label class="label-def">
                        <p class="label-def__name">
                          Nature of Beneficial Ownership*
                        </p>
                        <input
                          type="text"
                          name="beneficialEntity[0][benefNature]"
                          class="input-def"
                          placeholder="Type here"
                        />
                      </label>
                    </div>
                  </li>
                </ul>
                <button
                  type="button"
                  class="block-add__btn"
                  onclick="addItem('beneficial')"
                >
                  <svg width="20" height="20">
                    <use href="assets/img/icons/icons.svg#icon-plus"></use>
                  </svg>
                  <span>Add Group</span>
                </button>
                <p class="entity-text">
                  *Provide information on the nature of beneficial ownership
                  (e.g. more than 10% ownership of the proposed company) and
                  control structure of the proposed company.
                </p>
              </div>

              <div class="block-add" id="blockAdd-management">
                <ul class="block-add__list" id="managementList">
                  <li class="block-add__item" data-index="1">
                    <div class="block-add__box">
                      <div class="block-add__top">
                        <h3 class="block-add__title">
                          #01 Senior management of the company
                        </h3>
                        <button
                          type="button"
                          class="block-add__delete disabled"
                          disabled
                        >
                          <svg width="24" height="24" class="scroll-up-icon">
                            <use
                              href="assets/img/icons/icons.svg#icon-trash"
                            ></use>
                          </svg>
                        </button>
                      </div>
                      <label class="label-def">
                        <p class="label-def__name">
                          Identification Number (Identity Card, Passport No.)
                        </p>
                        <input
                          type="text"
                          name="managementEntity[0][managIdentification]"
                          class="input-def"
                          placeholder="Type here"
                        />
                      </label>
                      <label class="label-def">
                        <p class="label-def__name">
                          Full Name of Beneficial Owner
                        </p>
                        <input
                          type="text"
                          name="managementEntity[0][managFullName]"
                          class="input-def"
                          placeholder="Type here"
                        />
                      </label>
                      <label class="label-def">
                        <p class="label-def__name">
                          Nature of Beneficial Ownership*
                        </p>
                        <input
                          type="text"
                          name="managementEntity[0][managNature]"
                          class="input-def"
                          placeholder="Type here"
                        />
                      </label>
                    </div>
                  </li>
                </ul>
                <button
                  type="button"
                  class="block-add__btn"
                  onclick="addItem('management')"
                >
                  <svg width="20" height="20">
                    <use href="assets/img/icons/icons.svg#icon-plus"></use>
                  </svg>
                  <span>Add Group</span>
                </button>
                <p class="text-def">
                  For EACH beneficial owner and member of the senior management
                  or person with executive authority, please provide information
                  in Customer Onboarding (Individual). Please also provide
                  documents of identification and authorization as required.
                </p>
              </div>
            </div>
          </fieldset>

          <div class="btn-wrapp">
            <button type="button" data-id="information" class="btn-wrapp__back">
              Back
            </button>
            <button
              type="button"
              data-id="documents-entity"
              class="btn-wrapp__next"
            >
              Next
            </button>
          </div>
        </div>

        <div id="documents-entity" class="form-part-hidden">
          <fieldset>
            <legend class="form-subtitle">
              <span>3.</span> Documents Required
            </legend>
            <div class="form-container">
              <label class="label-def">
                <p class="label-def__name">
                  Please upload the Certificate of Incorporation
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsEntity-certificateIncorporation"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please upload the Memorandum and Articles of Association
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsEntity-memorandumAssociation"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please upload the Certificate of Good Standing
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsEntity-certificateStanding"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please upload the Certificate of Incumbency
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsEntity-certificateIncumbency"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please upload the Register of Members
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsEntity-registerMembers"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please upload the Register of Directors
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsEntity-registerDirectors"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please upload the Organization Chart
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsEntity-organizationChart"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>
            </div>
          </fieldset>

          <div class="btn-wrapp">
            <button
              type="button"
              data-id="beneficial-entity"
              class="btn-wrapp__back"
            >
              Back
            </button>
            <button
              type="button"
              data-id="declaration-entity"
              class="btn-wrapp__next"
            >
              Next
            </button>
          </div>
        </div>

        <div id="declaration-entity" class="form-part-hidden">
          <fieldset>
            <legend class="form-subtitle"><span>4.</span> Declaration</legend>
            <div class="form-container">
              <ul class="list-def">
                <li class="list-def__item">
                  I hereby declare that the information provided in this form is
                  accurate and complete.
                </li>
                <li class="list-def__item">
                  I confirm that any information is found incorrect and/or
                  incomplete that leads a violation of regulations may initiate
                  legal actions, and I accept that I am the responsible party
                  for any and all charges, penalties and violations.
                </li>
                <li class="list-def__item">
                  I understand and agree that all documents supplied (including
                  this form) will not be returned to me.
                </li>
                <li class="list-def__item">
                  I undertake to notify Prime Shan Asia Limited of any future
                  changes to the above information.
                </li>
                <li class="list-def__item">
                  I understand that Prime Shan Asia Limited reserves the right
                  to request for additional documentation/information.
                </li>
              </ul>

              <div class="block-grid3">
                <label class="label-def">
                  <p class="label-def__name">Prefix</p>
                  <input
                    type="text"
                    name="declarationEntity-prefix"
                    class="input-def"
                    placeholder="Mr."
                  />
                </label>
                <label class="label-def">
                  <p class="label-def__name">First Name</p>
                  <input
                    type="text"
                    name="declarationEntity-firstName"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>
                <label class="label-def">
                  <p class="label-def__name">Last Name</p>
                  <input
                    type="text"
                    name="declarationEntity-lastName"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>
              </div>

              <div class="label-def">
                <p class="label-def__name">Signature</p>
                <div class="block-signature">
                  <canvas
                    class="block-signature__pad"
                    style="width: 100%"
                  ></canvas>
                  <div class="block-signature__content">
                    <span class="block-signature__img"></span>
                    <p class="block-signature__text">Sign here</p>
                  </div>
                  <button class="block-signature__clear" type="button">
                    Clear
                  </button>
                </div>
              </div>

              <label class="label-def">
                <p class="label-def__name">Date Signed</p>
                <input
                  type="text"
                  name="declarationEntity-signed"
                  class="input-def"
                  placeholder="DD/MM/YYYY"
                />
              </label>
            </div>
          </fieldset>

          <div class="btn-wrapp">
            <button
              type="button"
              data-id="documents-entity"
              class="btn-wrapp__back"
            >
              Back
            </button>
            <button
              type="submit"
              data-id="information"
              id="entityBtnSubmit"
              class="btn-wrapp__submit"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-success">
      <div class="modal-success__body">
        <button type="button" class="modal-success__close">
          <img src="assets/img/icons/close.svg" alt="" />
        </button>
        <h2 class="modal-success__title">Success!</h2>
        <div class="modal-success__img">
          <img src="assets/img/icons/success.svg" alt="" />
        </div>
        <p class="modal-success__desc">
          Your information has been successfully submitted. Thank you for
          joining NotaPay! We’re excited to work with you.
        </p>
      </div>
    </div>
  </section>
</div>

{% endblock %}
