{% set title = "Form Page" %} {% set bodyClass = "form-page" %} {% set
hideHeader = true %} {% set hideFooter = true %} {% extends
"_html/_base/_layouts/_default.html" %} {% block content %}

<div class="wrapper">
  <section class="form-sec">
    <div class="container">
      <div class="progress-bar">
        <ul class="progress-step">
          <li class="progress-step__item item-part" data-step="information">
            <p>Company Information</p>
            <span></span>
          </li>
          <li class="progress-step__line line-part"></li>

          <li class="progress-step__item" data-step="beneficial-entity">
            <p>Beneficial Owners</p>
            <span></span>
          </li>
          <li class="progress-step__line"></li>

          <li class="progress-step__item" data-step="documents-entity">
            <p>Documents Required</p>
            <span></span>
          </li>
          <li class="progress-step__line"></li>

          <li class="progress-step__item" data-step="declaration-entity">
            <p>Declaration</p>
            <span></span>
          </li>
        </ul>
      </div>

      <h2 class="form-title">Customer <span>Onboarding</span></h2>
      <p class="form-desc">(Entity)</p>

      <form id="formEntity">
        <div id="information" class="form-part-hidden form-part-visible">
          <fieldset>
            <legend class="form-subtitle">
              <span>1.</span> Company Information
            </legend>
            <div class="form-container">
              <div class="block-grid2">
                <label class="label-def">
                  <p class="label-def__name">Company Name:</p>
                  <input
                    type="text"
                    name="information-companyName"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>

                <label class="label-def">
                  <p class="label-def__name">Company Registration No.:</p>
                  <input
                    type="text"
                    name="information-registration"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>
              </div>

              <div class="block-grid2">
                <label class="label-def">
                  <p class="label-def__name">Date of Incorporation</p>
                  <input
                    type="text"
                    name="information-incorporation"
                    class="input-def"
                    placeholder="DD/MM/YYYY"
                  />
                </label>

                <label class="label-def">
                  <p class="label-def__name">
                    Date of expiry <span>(if applicable)</span>
                  </p>
                  <input
                    type="text"
                    name="information-dateExpiry"
                    class="input-def"
                    placeholder="DD/MM/YYYY"
                  />
                </label>
              </div>

              <label class="label-def">
                <p class="label-def__name">
                  Country of Incorporation / Registration:
                </p>
                <input
                  type="text"
                  name="information-incorpRegist"
                  class="input-def"
                  placeholder="Type here"
                />
              </label>

              <div class="block-grid2">
                <label class="label-def">
                  <p class="label-def__name">Email address</p>
                  <input
                    type="email"
                    name="information-email"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>

                <div class="block-code">
                  <label class="label-def">
                    <p class="label-def__name">Contact Number</p>
                    <input
                      type="text"
                      name="information-countryCode"
                      class="input-def"
                      placeholder="Country Code"
                    />
                  </label>
                  <label class="label-def">
                    <input
                      type="text"
                      name="information-phoneNumber"
                      class="input-def"
                      placeholder="Phone Number"
                    />
                  </label>
                </div>
              </div>

              <label class="label-def">
                <p class="label-def__name">
                  Entity Type <span>(optional)</span>
                </p>
                <input
                  type="text"
                  name="information-entityType"
                  class="input-def"
                  placeholder="Please select"
                />
              </label>

              <label class="label-def">
                <p class="label-def__name">Registered Office Address</p>
                <input
                  type="text"
                  name="information-officeAddress"
                  class="input-def"
                  placeholder="Unit, Floor, Building, Street"
                />
              </label>

              <label class="label-def">
                <p class="label-def__name">Postal Code, Country</p>
                <input
                  type="text"
                  name="information-postalCode"
                  class="input-def"
                  placeholder="Type here"
                />
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Principal business activity <span>(optional)</span>
                </p>
                <textarea
                  name="information-businessActivity"
                  class="input-textarea"
                  placeholder="Type here"
                ></textarea>
              </label>

              <label class="label-def">
                <p class="label-def__name">Website <span>(optional)</span></p>
                <input
                  type="text"
                  name="information-website"
                  class="input-def"
                  placeholder="Type here"
                />
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please list the main (top 5) jurisdictions of your customers,
                  i.e that your customers are located in <span>(optional)</span>
                </p>
                <textarea
                  name="information-jurisdictionsCustomers"
                  class="input-textarea"
                  placeholder="Type here"
                ></textarea>
              </label>
            </div>
          </fieldset>

          <div class="btn-wrapp">
            <button
              type="button"
              data-id="beneficial-entity"
              class="btn-wrapp__next"
            >
              Next
            </button>
          </div>
        </div>

        <div id="beneficial-entity" class="form-part-hidden">
          <fieldset>
            <legend class="form-subtitle">
              <span>2.</span> Beneficial owners of the Company
            </legend>
            <div class="form-container"></div>
          </fieldset>

          <div class="btn-wrapp">
            <button type="button" data-id="information" class="btn-wrapp__back">
              Back
            </button>
            <button
              type="button"
              data-id="documents-entity"
              class="btn-wrapp__next"
            >
              Next
            </button>
          </div>
        </div>

        <div id="documents-entity" class="form-part-hidden">
          <fieldset>
            <legend class="form-subtitle">
              <span>3.</span> Documents Required
            </legend>
            <div class="form-container"></div>
          </fieldset>

          <div class="btn-wrapp">
            <button
              type="button"
              data-id="beneficial-entity"
              class="btn-wrapp__back"
            >
              Back
            </button>
            <button
              type="button"
              data-id="declaration-entity"
              class="btn-wrapp__next"
            >
              Next
            </button>
          </div>
        </div>

        <div id="declaration-entity" class="form-part-hidden">
          <fieldset>
            <legend class="form-subtitle"><span>4.</span> Declaration</legend>
            <div class="form-container"></div>
          </fieldset>

          <div class="btn-wrapp">
            <button
              type="button"
              data-id="documents-entity"
              class="btn-wrapp__back"
            >
              Back
            </button>
            <button type="submit" data-id="some" class="btn-wrapp__next">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

{% endblock %}
