{% set title = "Form Page" %} {% set bodyClass = "form-page" %} {% set
hideHeader = true %} {% set hideFooter = true %} {% extends
"_html/_base/_layouts/_default.html" %} {% block content %}

<div class="wrapper">
  <section class="form-sec">
    <div class="container">
      <div class="progress-bar">
        <ul class="progress-step">
          <li class="progress-step__item item-part" data-step="particulars">
            <p>Customer’s Particulars</p>
            <span></span>
          </li>
          <li class="progress-step__line line-part"></li>

          <li class="progress-step__item" data-step="beneficial-individ">
            <p>Beneficial Owner Info</p>
            <span></span>
          </li>
          <li class="progress-step__line"></li>

          <li class="progress-step__item" data-step="information-pep">
            <p>Information of PEP</p>
            <span></span>
          </li>
          <li class="progress-step__line"></li>

          <li class="progress-step__item" data-step="documents-individ">
            <p>Documents Required</p>
            <span></span>
          </li>
          <li class="progress-step__line"></li>

          <li class="progress-step__item" data-step="declaration-individ">
            <p>Declaration</p>
            <span></span>
          </li>
        </ul>
      </div>

      <h2 class="form-title">Customer <span>Onboarding</span></h2>
      <p class="form-desc">(Individual)</p>

      <form id="formIndividual">
        <div
          id="particulars"
          class="form-part-hidden form-part-visible is-transition"
        >
          <fieldset>
            <legend class="form-subtitle">
              <span>1.</span> Customer’s Particulars
            </legend>

            <div class="form-container">
              <div class="block-grid3">
                <label class="label-def">
                  <p class="label-def__name">Prefix</p>

                  <select class="select-def" name="particulars-prefix">
                    <option value="Mr." selected>Mr.</option>
                    <option value="Ms.">Ms.</option>
                  </select>
                </label>
                <label class="label-def">
                  <p class="label-def__name">First Name</p>
                  <input
                    type="text"
                    name="particulars-firstName"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>
                <label class="label-def">
                  <p class="label-def__name">Last Name</p>
                  <input
                    type="text"
                    name="particulars-lastName"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>
              </div>

              <label class="label-def is-optional">
                <p class="label-def__name">
                  Occupation <span>(optional)</span>
                </p>
                <input
                  type="text"
                  name="particulars-occupation"
                  class="input-def"
                  placeholder="Type here"
                />
              </label>

              <div class="block-grid2">
                <label class="label-def">
                  <p class="label-def__name">Date of Birth</p>
                  <input
                    type="text"
                    name="particulars-birth"
                    data-id="date-info"
                    class="input-def"
                    placeholder="DD/MM/YYYY"
                  />
                </label>

                <div class="label-def">
                  <p class="label-def__name">Identification Type</p>
                  <div class="block-choose">
                    <label class="block-choose__label">
                      <input
                        type="radio"
                        name="particulars-identification"
                        value="Identity card"
                      />
                      <div class="block-choose__box">Identity card</div>
                    </label>

                    <label class="block-choose__label">
                      <input
                        type="radio"
                        name="particulars-identification"
                        value="Passport"
                      />
                      <div class="block-choose__box">Passport</div>
                    </label>
                  </div>
                </div>
              </div>

              <div class="block-grid2">
                <label class="label-def">
                  <p class="label-def__name">Identification Document No.</p>
                  <input
                    type="text"
                    name="particulars-identification"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>
                <label class="label-def">
                  <p class="label-def__name">
                    Expiry date of identification document
                    <span>(if applicable)</span>
                  </p>
                  <input
                    type="text"
                    name="particulars-expiry"
                    data-id="date-info"
                    class="input-def"
                    placeholder="DD/MM/YYYY"
                  />
                </label>
              </div>

              <label class="label-def">
                <p class="label-def__name">Home Address</p>
                <input
                  type="text"
                  name="particulars-address"
                  class="input-def"
                  placeholder="Unit, Floor, Building, Street"
                />
              </label>

              <label class="label-def">
                <p class="label-def__name">Postal Code, Country</p>
                <input
                  type="text"
                  name="particulars-postalCode"
                  class="input-def"
                  placeholder="Type here"
                />
              </label>

              <div class="block-grid2">
                <div class="label-def">
                  <p class="label-def__name">Nationality</p>

                  <select class="select-def" name="particulars-nationality">
                    <option value="" selected>Please select</option>
                    <option value="select1">select1</option>
                    <option value="select2">select2</option>
                  </select>
                </div>
                <div class="block-code">
                  <label class="label-def">
                    <p class="label-def__name">Contact Number</p>
                    <input
                      type="text"
                      name="particulars-countryCode"
                      data-id="contact-number"
                      class="input-def"
                      placeholder="Country Code"
                    />
                  </label>
                  <label class="label-def">
                    <p class="label-def__name name-hidden">Phone Number</p>
                    <input
                      type="tel"
                      name="particulars-phoneNumber"
                      data-id="contact-phone"
                      class="input-def"
                      placeholder="Phone Number"
                    />
                  </label>
                </div>
              </div>

              <label class="label-def">
                <p class="label-def__name">Email</p>
                <input
                  type="email"
                  name="particulars-email"
                  class="input-def"
                  placeholder="example@companymail.com"
                />
              </label>
            </div>
          </fieldset>

          <div class="btn-wrapp">
            <button
              type="button"
              data-id="beneficial-individ"
              class="btn-wrapp__next"
            >
              Next
            </button>
          </div>
        </div>

        <div id="beneficial-individ" class="form-part-hidden">
          <fieldset>
            <legend class="form-subtitle">
              <span>2.</span> Information of Beneficial Owner
            </legend>

            <div class="form-container">
              <div class="label-def">
                <p class="label-def__name">
                  Is the above person acting for himself/herself? (If NO, then
                  fill in this Form for each person/persons<br />
                  whom the above person is acting on behalf of)
                </p>
                <div class="block-choose">
                  <label class="block-choose__label">
                    <input
                      type="radio"
                      name="beneficialIndivid-owner"
                      value="Yes"
                    />
                    <div class="block-choose__box">Yes</div>
                  </label>

                  <label class="block-choose__label">
                    <input
                      type="radio"
                      name="beneficialIndivid-owner"
                      value="No"
                    />
                    <div class="block-choose__box">No</div>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="btn-wrapp">
            <button type="button" data-id="particulars" class="btn-wrapp__back">
              Back
            </button>
            <button
              type="button"
              data-id="information-pep"
              class="btn-wrapp__next"
            >
              Next
            </button>
          </div>
        </div>

        <div id="information-pep" class="form-part-hidden">
          <fieldset>
            <legend class="form-subtitle individual-subtitle">
              <span>3.</span> Information of Politically Exposed Person ("PEP")
            </legend>
            <p class="individual-desc">
              their Immediate Family Members and Close Associates(For
              Individuals Only)
            </p>
            <div class="form-container">
              <div class="label-def">
                <p class="label-def__name">
                  Is the above person an immediate family member or a close
                  associate<br />
                  of a PEP or a PEP who has stepped down?
                </p>
                <div class="block-choose">
                  <label class="block-choose__label">
                    <input
                      type="radio"
                      name="informationPep-steppedDown1"
                      value="Yes"
                    />
                    <div class="block-choose__box">Yes</div>
                  </label>

                  <label class="block-choose__label">
                    <input
                      type="radio"
                      name="informationPep-steppedDown1"
                      value="No"
                    />
                    <div class="block-choose__box">No</div>
                  </label>
                </div>
              </div>

              <div class="label-def">
                <p class="label-def__name">
                  Is the above person a PEP who has stepped down from his<br />
                  or her prominent public function?
                </p>
                <div class="block-choose">
                  <label class="block-choose__label">
                    <input
                      type="radio"
                      name="informationPep-publicFunction"
                      value="Yes"
                    />
                    <div class="block-choose__box">Yes</div>
                  </label>

                  <label class="block-choose__label">
                    <input
                      type="radio"
                      name="informationPep-publicFunction"
                      value="No"
                    />
                    <div class="block-choose__box">No</div>
                  </label>
                </div>
              </div>

              <div class="label-def">
                <p class="label-def__name">
                  Is the above person an immediate family member or a close
                  associate<br />
                  of a PEP or a PEP who has stepped down?
                </p>
                <div class="block-choose">
                  <label class="block-choose__label">
                    <input
                      type="radio"
                      name="informationPep-steppedDown2"
                      value="Yes"
                    />
                    <div class="block-choose__box">Yes</div>
                  </label>

                  <label class="block-choose__label">
                    <input
                      type="radio"
                      name="informationPep-steppedDown2"
                      value="No"
                    />
                    <div class="block-choose__box">No</div>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="btn-wrapp">
            <button
              type="button"
              data-id="beneficial-individ"
              class="btn-wrapp__back"
            >
              Back
            </button>
            <button
              type="button"
              data-id="documents-individ"
              class="btn-wrapp__next"
            >
              Next
            </button>
          </div>
        </div>

        <div id="documents-individ" class="form-part-hidden">
          <fieldset>
            <legend class="form-subtitle">
              <span>4.</span> Documents Required
            </legend>

            <div class="form-container">
              <label class="label-def">
                <p class="label-def__name">
                  Please upload a copy of the identification document (e.g.
                  Identity Card, Passport, etc.)
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsIndivid-identificationDocument"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please upload a copy of the back side of Identity Card
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsIndivid-backSide"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please upload a copy of the address proof (e.g. bank
                  statement, utility bills), not older than 3 months
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsIndivid-addressProof"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>

              <label class="label-def">
                <p class="label-def__name">
                  Please upload a copy of Bank Statement,, not older than 3
                  months
                </p>
                <div class="block-file">
                  <div class="block-file__content">
                    <input
                      type="file"
                      name="documentsIndivid-bankStatement"
                      class="block-file__input"
                    />
                    <span class="block-file__img"></span>
                    <p class="block-file__text">Drag and drop files here</p>
                  </div>
                </div>
              </label>
            </div>
          </fieldset>

          <div class="btn-wrapp">
            <button
              type="button"
              data-id="information-pep"
              class="btn-wrapp__back"
            >
              Back
            </button>
            <button
              type="button"
              data-id="declaration-individ"
              class="btn-wrapp__next"
            >
              Next
            </button>
          </div>
        </div>

        <div id="declaration-individ" class="form-part-hidden">
          <fieldset>
            <legend class="form-subtitle"><span>5.</span> Declaration</legend>
            <div class="form-container">
              <div class="block-grid3">
                <label class="label-def">
                  <p class="label-def__name">Prefix</p>

                  <select class="select-def" name="declarationIndivid-prefix">
                    <option value="Mr." selected>Mr.</option>
                    <option value="Ms.">Ms.</option>
                  </select>
                </label>
                <label class="label-def">
                  <p class="label-def__name">First Name</p>
                  <input
                    type="text"
                    name="declarationIndivid-firstName"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>
                <label class="label-def">
                  <p class="label-def__name">Last Name</p>
                  <input
                    type="text"
                    name="declarationIndivid-lastName"
                    class="input-def"
                    placeholder="Type here"
                  />
                </label>
              </div>

              <div class="label-def">
                <p class="label-def__name">Signature</p>
                <div class="block-signature">
                  <canvas class="block-signature__pad"></canvas>
                  <div class="block-signature__content">
                    <span class="block-signature__img"></span>
                    <p class="block-signature__text">Sign here</p>
                  </div>
                  <button class="block-signature__clear" type="button">
                    Clear
                  </button>
                </div>
              </div>

              <label class="label-def">
                <p class="label-def__name">Date Signed</p>
                <input
                  type="text"
                  name="declarationIndivid-signed"
                  data-id="date-info"
                  class="input-def"
                  placeholder="DD/MM/YYYY"
                />
              </label>
            </div>
          </fieldset>

          <div class="btn-wrapp">
            <button
              type="button"
              data-id="documents-individ"
              class="btn-wrapp__back"
            >
              Back
            </button>
            <button
              type="submit"
              data-id="particulars"
              id="individualBtnSubmit"
              class="btn-wrapp__submit"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-success">
      <div class="modal-success__body">
        <button type="button" class="modal-success__close">
          <img src="assets/img/icons/close.svg" alt="" />
        </button>
        <h2 class="modal-success__title">Success!</h2>
        <div class="modal-success__img">
          <img src="assets/img/icons/success.svg" alt="" />
        </div>
        <p class="modal-success__desc">
          Your information has been successfully submitted. Thank you for
          joining NotaPay! We’re excited to work with you.
        </p>
      </div>
    </div>
  </section>
</div>

{% endblock %}
