.footer {
	padding-top: 2em;
	background-color: $cg;
}

.footer__top {
	.custom-logo-link {
		width: 10.125em;
	}
}

.footer__middle {
	margin-top: 1.5em;
	justify-content: space-between;
}

.footer__left {
	max-width: 37.438em;

	.footer_nav {
		display: none;
	}
}

.footer__text {
	max-width: 31.875em;
	line-height: 1.5;
	color: $ct;

	p {
		font-size: 0.75em;
	}
}

.footer__icons {
	margin-top: 0.5em;

	li {
		margin-right: 1.5em;
		height: 2em;

		img {
			display: block;
			height: 100%;
			width: auto;
		}

		&:last-child {
			margin: 0;
		}
	}
}

.footer__parts {
	margin-top: 1.5em;
}

.footer__part {
	margin-bottom: 1.5em;

	h3 {
		font-size: 0.875em;
		line-height: 1.429;
		color: #fff;
		font-weight: normal;
	}

	p {
		font-size: 0.75em;
		margin-top: 0.667em;
		line-height: 1.333;
		color: $ct;
	}

	&:last-child {
		margin: 0;
	}
}

.footer__right {
	width: 24em;
}

.footer_nav {
	margin-bottom: -2em;

	li {
		width: calc(50% - 0.75em);
		margin-bottom: 2em;

		a {
			line-height: 1.5;
			display: inline-block;
			color: #fff;
		}
	}
}

.footer__bottom {
	margin-top: 4.25rem;
	padding-bottom: 2rem;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}

.copyright {
	font-size: 0.75em;
	color: #8e8e8e;
}

.footer {
	&__content {
	}
	&__desc {
		margin-bottom: 0.8rem;
		h3 {
			font-size: 0.875rem;
			font-weight: 700;
			line-height: 1.25rem;
			margin-bottom: 0.3rem;
		}
		p {
			color: #8e8e8e;
			font-size: 0.75rem;
			line-height: 1rem;
		}
	}
	&__info {
		display: flex;
		align-items: center;
		gap: 0.94rem;
		p {
			color: #8e8e8e;
			font-size: 0.75rem;
			line-height: 1rem;
		}
	}
	&__img-wrapp {
		flex-shrink: 0;
		width: 2.625rem;
		height: 1.625rem;
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	&__tagline {
		display: none;
	}
	&__companies {
		display: none;
	}
	&__content-mob {
		display: none;
	}
}

@media screen and (max-width: 960px) {
	.footer {
		font-size: 1.143em;
		padding-top: 1.5em;
	}
	.footer__top {
		.custom-logo-link {
			width: 6.313em;
		}
	}
	.footer__middle {
		margin-top: 1.5em;
	}
	.footer__left {
		max-width: inherit;
		width: 100%;
		.footer_nav {
			display: flex;
		}
	}
	.footer__icons {
		font-size: 1em;
		margin-top: 2em;
		li {
			margin-right: 3em;
		}
	}
	.footer__parts {
		margin-top: 3em;
	}
	.footer__right {
		font-size: 1.143em;
		margin-top: 3em;
		width: 100%;
	}
	.footer__right {
		display: none;
	}
	.footer_nav {
		margin-top: 1.5em;
		margin-bottom: -1.5em;
		li {
			width: calc(100% / 3 - 1.5em);
			margin-bottom: 1.5em;

			a {
				font-size: 0.875em;
			}
		}
	}
	.footer__bottom {
		margin-top: 2.75rem;
		padding-bottom: 1.5em;
	}

	.footer {
		&__content {
			display: none;
		}
		&__desc {
			margin-bottom: 0;
			h3 {
				margin-bottom: 0.5rem;
			}
		}
		&__info {
			gap: 0.69rem;
		}
		&__img-wrapp {
			width: 2rem;
			height: 1.25rem;
		}
		&__tagline {
			display: block;
			color: #cfcfcf;
			font-size: 0.75rem;
			line-height: 1rem;
			margin-bottom: 1.5rem;
		}
		&__companies {
			display: flex;
			gap: 0.5rem 1rem;
			flex-wrap: wrap;
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				&:nth-child(1) {
					div {
						width: 1.1875rem;
					}
				}
				&:nth-child(2) {
					div {
						width: 3.5625rem;
					}
				}
				&:nth-child(3) {
					div {
						width: 1.4375rem;
					}
				}
				&:nth-child(4) {
					div {
						width: 2.5rem;
					}
				}
				&:nth-child(5) {
					div {
						width: 2.625rem;
					}
				}
				&:nth-child(6) {
					div {
						width: 4.5rem;
					}
				}
				&:nth-child(7) {
					div {
						width: 1.625rem;
					}
				}
			}
		}
		&__content-mob {
			display: block;
			margin-top: 3rem;
		}
	}
}

@media screen and (max-width: 620px) {
	.footer_nav {
		justify-content: space-between;
		li {
			min-width: 9.375em;
			width: auto;
		}
	}
}
