.section__benefits {
	padding-top: 9rem;
}

.benefits {
	&__wrapp {
		overflow: hidden;
		padding: 4rem 0;
		background-color: #ce4628;
	}
	&__body {
		position: relative;
	}
	&__decor {
		position: absolute;
		top: -9.75rem;
		left: -17.37rem;
		width: 66.875rem;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__content {
		display: flex;
		align-items: start;
		justify-content: space-between;
		gap: 2rem;
		margin-bottom: 3rem;
	}
	&__info {
		max-width: 49.5rem;
	}
	&__tilte {
		font-size: 3rem;
		font-weight: 700;
		line-height: 3.5rem;
		text-transform: uppercase;
		margin-bottom: 1.5rem;
	}
	&__text {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 1.5rem;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		color: #fff;
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.5rem;
		padding: 1rem;
		border: 0.063rem solid #fff;
	}
	&__row {
		display: flex;
		gap: 1.5rem;
	}
	&__colomn {
		padding: 2rem 1.5rem;
		border: 0.063rem solid #fff;
		background-color: rgba(255, 255, 255, 0.12);
	}
	&__subtitle {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 2rem;
		margin-bottom: 1rem;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		li {
			display: flex;
			gap: 0.75rem;
			font-size: 1.125rem;
			line-height: 1.5rem;
			&::before {
				content: "";
				margin-top: 0.6rem;
				flex-shrink: 0;
				border-radius: 50%;
				width: 0.4rem;
				height: 0.4rem;
				background-color: #fff;
			}
		}
	}
}

@media screen and (max-width: 960px) {
	.section__benefits {
		padding-top: 5.5rem;
	}

	.benefits {
		&__wrapp {
			padding: 2rem 0;
		}
		&__decor {
			position: absolute;
			top: -9.75rem;
			left: -17.37rem;
			width: 66.875rem;
		}
		&__content {
			justify-content: start;
			flex-direction: column;
			margin-bottom: 3rem;
		}
		&__info {
			max-width: none;
		}
		&__tilte {
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 1rem;
		}
		&__text {
			font-size: 0.875rem;
			line-height: 1.25rem;
		}
		&__btn {
			padding: 0.75rem;
			width: 100%;
		}
		&__row {
			flex-direction: column;
			gap: 1rem;
		}
		&__colomn {
			padding: 1.5rem 1rem;
		}
		&__subtitle {
			font-size: 1.25rem;
			line-height: 1.5rem;
		}
		&__list {
			gap: 0.25rem;
			li {
				gap: 0.5rem;
				font-size: 0.875rem;
				line-height: 1.25rem;
				&::before {
					margin-top: 0.4rem;
					width: 0.3rem;
					height: 0.3rem;
				}
			}
		}
	}
}
