<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ meta_description }}">
  <link rel="stylesheet" type="text/css" href="assets/css/vendor.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
<div class="page-wrapper" id="pageWrapper">
  {% if not hideHeader %}
    {% include "_html/_base/_includes/_header.html" %}
  {% endif %}

  {% block content %}{% endblock %}

  {% if not hideFooter %}
    {% include "_html/_base/_includes/_footer.html" %}
  {% endif %}
</div>

<script src="assets/js/vendor.min.js"></script>
<script src="assets/js/custom.min.js"></script>
</body>
</html>