.form-part-hidden {
	display: none;
}
.form-part-visible {
	display: block;
}

.form-sec {
	position: relative;
	// padding: 5.5rem 0;
	padding: 1.5rem 0;
}

.progress-bar {
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.progress-step {
	width: 100%;
	max-width: 41.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__item {
		flex-shrink: 0;
		position: relative;
		width: 1rem;
		height: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			width: 11.25rem;
			position: absolute;
			text-align: center;
			top: -1.5rem;
			left: 50%;
			transform: translateX(-50%);
			color: #adadad;
			font-size: 0.75rem;
			font-weight: 600;
			line-height: 1.33;
		}

		span {
			position: relative;
			width: 0.5rem;
			height: 0.5rem;
			flex-shrink: 0;
			border-radius: 50%;
			background-color: #adadad;
			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				border-radius: 50%;
				background-color: #adadad;
				width: 1rem;
				height: 1rem;
				opacity: 0.15;
			}
		}
	}

	&__line {
		position: relative;
		z-index: -1;
		height: 0.0625rem;
		width: 100%;
		background-color: #282828;
	}
}

.item-part {
	p {
		color: #fd532e;
	}
	span {
		background-color: #fd532e;
		&::before,
		&::after {
			background-color: #fd532e;
		}
	}
}
.line-part {
	background-color: #fd532e;
}

.form-title {
	text-align: center;
	font-size: 4rem;
	font-weight: 800;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	span {
		color: #fd532e;
	}
}
.form-desc {
	color: #adadad;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 4rem;
}
.form-subtitle {
	display: flex;
	gap: 0.625rem;
	justify-content: center;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.4;
	text-transform: uppercase;
	margin-bottom: 2.5rem;
}

.form-container {
	margin: 0 auto;
	max-width: 49.5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.block-grid2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	align-items: end;
}
.block-grid3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
	align-items: end;
}
.block-code {
	display: grid;
	grid-template-columns: 8.1875rem 1fr;
	align-items: end;
	gap: 0.25rem;
}
.block-choose {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: end;
	&__label {
		cursor: pointer;
		padding: 0.25rem;
		border: 0.0625rem solid #cfcfcf;
		input {
			display: none;
			&:checked + .block-choose__box {
				background-color: #fd532e;
			}
		}
		&:hover .block-choose__box {
			background-color: #2c2c2c;
		}
	}
	&__box {
		padding: 0.5rem 0.75rem;
		text-align: center;
		font-size: 1rem;
		line-height: 1.5;
		transition: all 150ms ease-in;
	}
}
.block-signature {
	position: relative;
	height: 8rem;
	background-color: #1f1f22;
	border: 0.063rem solid transparent;
	&__pad {
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		cursor: crosshair;
	}
	&__content {
		z-index: 1;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}
	&__img {
		position: relative;
		width: 2rem;
		height: 2rem;
		&::after {
			content: "";
			display: block;
			width: 2rem;
			height: 2rem;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 5;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M28.9995 20.5H8.79697C9.07197 19.9475 9.34822 19.3825 9.62072 18.81L9.71947 18.6025C11.4095 18.3963 13.3057 17.19 15.392 14.9937C16.0557 16.4937 17.142 18.085 18.8407 18.405C19.4982 18.53 20.5295 18.5037 21.707 17.6775C22.1152 17.3877 22.4922 17.0564 22.832 16.6887C23.862 17.65 25.7095 18.5 28.9995 18.5C29.3973 18.5 29.7788 18.342 30.0601 18.0607C30.3414 17.7794 30.4995 17.3978 30.4995 17C30.4995 16.6022 30.3414 16.2206 30.0601 15.9393C29.7788 15.658 29.3973 15.5 28.9995 15.5C25.1245 15.5 24.572 14.1888 24.4995 13.9525C24.5607 13.2812 24.1557 12.7325 23.5145 12.4987C22.8732 12.265 22.1182 12.5962 21.737 13.1812C20.487 15.0962 19.6595 15.5088 19.3932 15.4575C18.7832 15.3438 17.8445 13.515 17.4632 11.6962C17.4045 11.4178 17.2678 11.1618 17.0691 10.9581C16.8704 10.7544 16.6178 10.6114 16.3409 10.5459C16.0639 10.4803 15.7741 10.4949 15.5051 10.588C15.2362 10.681 14.9992 10.8486 14.822 11.0712C13.5345 12.6862 12.427 13.795 11.5132 14.5162C14.162 7.89875 13.6382 5.48875 12.9345 4.235C12.3095 3.11375 11.1757 2.5 9.74947 2.5C7.48947 2.5 5.66947 4.56875 4.87447 8.0325C4.44322 9.92 4.37447 12.0087 4.69197 13.7638C5.02322 15.6025 5.73697 16.9762 6.77697 17.7925C6.33572 18.7225 5.87447 19.6325 5.43322 20.5H2.99947C2.60164 20.5 2.22011 20.658 1.93881 20.9393C1.6575 21.2206 1.49947 21.6022 1.49947 22C1.49947 22.3978 1.6575 22.7794 1.93881 23.0607C2.22011 23.342 2.60164 23.5 2.99947 23.5H3.83697C2.62447 25.7087 1.73072 27.2 1.71197 27.2262C1.60891 27.395 1.54024 27.5825 1.50992 27.778C1.4796 27.9734 1.48822 28.1729 1.53529 28.365C1.58236 28.557 1.66695 28.7379 1.78419 28.8972C1.90143 29.0564 2.049 29.191 2.21842 29.293C2.38784 29.395 2.57576 29.4625 2.77137 29.4916C2.96698 29.5207 3.16641 29.5109 3.3582 29.4626C3.54998 29.4143 3.73033 29.3286 3.88887 29.2104C4.04741 29.0922 4.181 28.9438 4.28197 28.7738C4.36322 28.6438 5.65322 26.5 7.24947 23.5H28.9995C29.3973 23.5 29.7788 23.342 30.0601 23.0607C30.3414 22.7794 30.4995 22.3978 30.4995 22C30.4995 21.6022 30.3414 21.2206 30.0601 20.9393C29.7788 20.658 29.3973 20.5 28.9995 20.5ZM7.80322 8.7C8.22072 6.875 9.05572 5.5 9.74947 5.5C10.2132 5.5 10.2857 5.625 10.3295 5.705C10.5082 6.02125 11.1482 7.83875 8.14947 14.8025C7.90603 14.3068 7.73753 13.7777 7.64947 13.2325C7.40322 11.8612 7.45947 10.2087 7.80322 8.7Z' fill='%23868688'/%3E%3C/svg%3E");
		}
	}
	&__text {
		color: #868688;
		text-align: center;
		font-family: Nunito;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	&__clear {
		z-index: 3;
		position: absolute;
		bottom: 0.75rem;
		right: 0.75rem;
		color: #fff;
		font-family: Nunito;
		font-size: 0.875rem;
		font-weight: 700;
		line-height: 1.5rem;
		border: 1px solid #fff;
		padding: 0.25rem 0.5rem;
		transition: all 150ms ease-in;
		&:hover {
			background-color: #fff;
			color: #2c2c2c;
		}
	}
}
.block-file {
	cursor: pointer;
	height: 8rem;
	background-color: #1f1f22;
	border: 0.063rem solid transparent;
	&__input {
		display: none;
	}
	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}
	&__img {
		position: relative;
		width: 2rem;
		height: 2rem;
		&::after {
			content: "";
			display: block;
			width: 2rem;
			height: 2rem;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 5;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M24.56 18.9387C24.8418 19.2205 25.0001 19.6027 25.0001 20.0012C25.0001 20.3998 24.8418 20.782 24.56 21.0637C24.2782 21.3455 23.896 21.5039 23.4975 21.5039C23.099 21.5039 22.7168 21.3455 22.435 21.0637L20.9987 19.625V26C20.9987 26.3978 20.8407 26.7794 20.5594 27.0607C20.2781 27.342 19.8965 27.5 19.4987 27.5C19.1009 27.5 18.7194 27.342 18.4381 27.0607C18.1568 26.7794 17.9987 26.3978 17.9987 26V19.625L16.56 21.065C16.2782 21.3468 15.896 21.5051 15.4975 21.5051C15.099 21.5051 14.7168 21.3468 14.435 21.065C14.1532 20.7832 13.9949 20.401 13.9949 20.0025C13.9949 19.604 14.1532 19.2218 14.435 18.94L18.435 14.94C18.5743 14.8002 18.7399 14.6892 18.9222 14.6135C19.1046 14.5378 19.3001 14.4988 19.4975 14.4988C19.6949 14.4988 19.8904 14.5378 20.0727 14.6135C20.255 14.6892 20.4206 14.8002 20.56 14.94L24.56 18.9387ZM19.9987 4.5C17.9226 4.501 15.8855 5.06349 14.103 6.1279C12.3206 7.1923 10.8592 8.71899 9.87372 10.5463C8.72599 10.426 7.56581 10.5408 6.46387 10.8835C5.36193 11.2262 4.34132 11.7898 3.46424 12.5397C2.58716 13.2897 1.87198 14.2104 1.36229 15.2458C0.852592 16.2811 0.55906 17.4094 0.49958 18.5619C0.4401 19.7144 0.615916 20.8669 1.01632 21.9492C1.41671 23.0315 2.03331 24.021 2.82852 24.8573C3.62373 25.6935 4.58091 26.3591 5.64171 26.8135C6.70251 27.2678 7.84472 27.5014 8.99872 27.5H12.4987C12.8965 27.5 13.2781 27.342 13.5594 27.0607C13.8407 26.7794 13.9987 26.3978 13.9987 26C13.9987 25.6022 13.8407 25.2206 13.5594 24.9393C13.2781 24.658 12.8965 24.5 12.4987 24.5H8.99872C7.56549 24.4912 6.1923 23.9233 5.17154 22.9172C4.15077 21.9111 3.56308 20.5462 3.53359 19.1133C3.5041 17.6803 4.03514 16.2924 5.01365 15.2452C5.99215 14.1979 7.34081 13.574 8.77247 13.5063C8.59026 14.325 8.49846 15.1612 8.49872 16C8.49872 16.3978 8.65676 16.7794 8.93806 17.0607C9.21937 17.342 9.6009 17.5 9.99872 17.5C10.3965 17.5 10.7781 17.342 11.0594 17.0607C11.3407 16.7794 11.4987 16.3978 11.4987 16C11.4998 14.7704 11.7675 13.5556 12.2836 12.4396C12.7997 11.3235 13.5518 10.3327 14.488 9.53552C15.4242 8.73834 16.5222 8.15376 17.7062 7.82213C18.8902 7.49049 20.1321 7.41969 21.3462 7.61462C22.5603 7.80955 23.7176 8.26556 24.7383 8.95119C25.759 9.63681 26.6188 10.5357 27.2584 11.5859C27.898 12.6361 28.3021 13.8125 28.4428 15.0341C28.5836 16.2556 28.4577 17.4931 28.0737 18.6612C28.0121 18.8484 27.9879 19.0458 28.0026 19.2423C28.0172 19.4388 28.0705 19.6304 28.1592 19.8064C28.2479 19.9823 28.3704 20.139 28.5198 20.2675C28.6691 20.3961 28.8422 20.494 29.0293 20.5556C29.2165 20.6173 29.4139 20.6414 29.6104 20.6268C29.8069 20.6121 29.9985 20.5589 30.1744 20.4701C30.3504 20.3814 30.5071 20.2589 30.6356 20.1096C30.7642 19.9603 30.8621 19.7871 30.9237 19.6C31.4915 17.8723 31.6416 16.0346 31.3619 14.2376C31.0822 12.4406 30.3806 10.7355 29.3146 9.26208C28.2485 7.78866 26.8484 6.58888 25.2291 5.76111C23.6098 4.93335 21.8173 4.50116 19.9987 4.5Z' fill='%23FD532E'/%3E%3C/svg%3E");
		}
	}
	&__text {
		color: #868688;
		text-align: center;
		font-size: 1rem;
		line-height: 1.5rem;

		width: 15rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.file-uploaded {
	color: #fff;
	&::after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M27.0612 9.94L20.0612 2.94C19.9219 2.80052 19.7565 2.68987 19.5744 2.61437C19.3923 2.53887 19.1971 2.50001 19 2.5H6.99996C6.33692 2.5 5.70104 2.76339 5.23219 3.23223C4.76335 3.70107 4.49996 4.33696 4.49996 5V15.5C4.49996 15.8978 4.658 16.2794 4.9393 16.5607C5.22061 16.842 5.60214 17 5.99996 17C6.39779 17 6.77932 16.842 7.06062 16.5607C7.34193 16.2794 7.49996 15.8978 7.49996 15.5V5.5H17V11.5C17 11.8978 17.158 12.2794 17.4393 12.5607C17.7206 12.842 18.1021 13 18.5 13H24.5V26.5H22.5C22.1021 26.5 21.7206 26.658 21.4393 26.9393C21.158 27.2206 21 27.6022 21 28C21 28.3978 21.158 28.7794 21.4393 29.0607C21.7206 29.342 22.1021 29.5 22.5 29.5H25C25.663 29.5 26.2989 29.2366 26.7677 28.7678C27.2366 28.2989 27.5 27.663 27.5 27V11C27.4999 10.6025 27.3421 10.2212 27.0612 9.94ZM20 7.125L22.875 10H20V7.125ZM13.5 15.5C12.173 15.4997 10.8732 15.8767 9.75225 16.5869C8.63129 17.2971 7.73529 18.3113 7.16871 19.5112C5.87492 19.5982 4.66551 20.1843 3.79569 21.146C2.92587 22.1077 2.46368 23.3697 2.50666 24.6657C2.54963 25.9617 3.09442 27.1903 4.02604 28.0923C4.95767 28.9942 6.20326 29.499 7.49996 29.5H13.5C15.3565 29.5 17.137 28.7625 18.4497 27.4497C19.7625 26.137 20.5 24.3565 20.5 22.5C20.5 20.6435 19.7625 18.863 18.4497 17.5503C17.137 16.2375 15.3565 15.5 13.5 15.5ZM13.5 26.5H7.49996C7.04224 26.4999 6.59842 26.3427 6.24259 26.0548C5.88676 25.7669 5.64045 25.3656 5.54479 24.918C5.44912 24.4704 5.50988 24.0035 5.71693 23.5953C5.92398 23.1871 6.26479 22.8622 6.68246 22.675C6.82906 22.9662 7.06654 23.2017 7.35895 23.3459C7.65137 23.49 7.98279 23.535 8.30304 23.474C8.6233 23.413 8.91495 23.2492 9.13385 23.0076C9.35275 22.766 9.48698 22.4597 9.51621 22.135C9.53633 21.9114 9.57479 21.6898 9.63121 21.4725C9.64621 21.4275 9.65871 21.3825 9.66996 21.3363C9.88548 20.6275 10.2936 19.9925 10.8488 19.5021C11.404 19.0117 12.0844 18.6851 12.8144 18.5587C13.5443 18.4323 14.2949 18.511 14.9827 18.7862C15.6705 19.0613 16.2684 19.5221 16.7097 20.1171C17.151 20.7121 17.4184 21.4179 17.4821 22.1559C17.5458 22.894 17.4033 23.6352 17.0705 24.297C16.7377 24.9588 16.2277 25.5152 15.5973 25.9042C14.9668 26.2932 14.2407 26.4994 13.5 26.5Z' fill='%23868688'/%3E%3C/svg%3E");
	}
}

.list-def {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0 0.625rem;
	&__item {
		display: flex;
		gap: 0.719rem;
		color: #adadad;
		font-size: 1.125rem;
		line-height: 1.75rem;
		&::before {
			content: "";
			margin-top: 0.75rem;
			flex-shrink: 0;
			width: 0.419rem;
			height: 0.419rem;
			border-radius: 50%;
			background-color: #adadad;
		}
	}
}

.label-def {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	width: 100%;
	&__name {
		font-size: 0.75rem;
		font-weight: 600;
		line-height: 1.33;
		span {
			color: #adadad;
		}
	}
}
.input-def,
.input-textarea {
	color: #fff;
	font-family: Nunito;
	background-color: transparent;
	padding: 0.75rem 1rem;
	border: 0.0625rem solid #cfcfcf;
	font-size: 1rem;
	line-height: 1.5;
	transition: box-shadow 150ms ease-in;
	&::placeholder {
		color: #adadad;
	}
	&:hover,
	&:focus {
		box-shadow: 0px 3px 6px 0px rgba(255, 255, 255, 0.4);
	}
}
.input-textarea {
	height: 7.5rem;
	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 0.25rem;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #868688;
	}
}

.btn-wrapp {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	&__back,
	&__next,
	&__submit {
		text-align: center;
		width: 11.25rem;
		color: #fff;
		font-family: Nunito;
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.5;
		padding: 1rem 0;
		transition: all 150ms ease-in;
	}
	&__next,
	&__submit {
		background: linear-gradient(
			90deg,
			#fd532e 0%,
			rgba(253, 83, 46, 0.32) 100%
		);
		&:hover {
			background-color: #fd532e;
		}
	}
	&__back {
		background-color: transparent;
		border: 0.0625rem solid #fff;
		&:hover {
			background-color: #2c2c2c;
		}
	}
}

@media screen and (max-width: 960px) {
	.form-sec {
		// padding: 4.25rem 0;
		padding: 1.25rem 0;
	}

	.progress-bar {
		margin-bottom: 1.5rem;
	}

	.progress-step {
		max-width: 100%;

		&__item {
			p {
				opacity: 0;
				visibility: hidden;
				width: 9rem;
				text-align: start;
				top: -1.25rem;
				left: 50%;
				transform: translateX(-0.5rem);
			}
			&:last-child {
				p {
					text-align: end;
					left: auto;
					right: 50%;
					transform: translateX(0.5rem);
				}
			}
		}
	}

	.item-part {
		p {
			opacity: 1;
			visibility: visible;
		}
	}
	.line-part {
		flex-shrink: 0;
		width: 54%;
		background-color: #fd532e;
	}

	.form-title {
		font-size: 2rem;
		text-align: start;
	}
	.form-desc {
		color: #adadad;
		font-size: 1.125rem;
		line-height: 1.33;
		text-align: start;
		margin-bottom: 3rem;
	}
	.form-subtitle {
		gap: 0.438rem;
		justify-content: start;
		text-align: start;
		font-size: 1.5rem;
		line-height: 1;
		margin-bottom: 1.5rem;
	}

	.form-container {
		max-width: 100%;
		gap: 1.5rem;
	}

	.block-grid2,
	.block-grid3 {
		grid-template-columns: repeat(1, 1fr);
	}
	.block-code {
		display: grid;
		grid-template-columns: 8.1875rem 1fr;
		align-items: end;
		gap: 0.25rem;
	}

	.btn-wrapp {
		align-items: center;
		flex-direction: column-reverse;
		gap: 1rem;
		&__back,
		&__next,
		&__submit {
			width: 100%;
		}
	}
}

@media screen and (max-width: 620px) {
}
