//Colors
$cd: #111111;
$cg: #1F1F22;
$cb: #FD532E;
$ct: #ADADAD;
$cl: #202020;
$co: #4D4D4D;
$gr1: linear-gradient(50deg, #202020 -23.82%, #FD532E 101.4%);

//Fonts
$fr: "IBMPlexSans-Regular";
$fs: "IBMPlexSans-SemiBold";
$fb: "IBMPlexSans-Bold";
